*{
    font-family: 'Comfortaa'
    , cursive;
}

body{
    background-color: #293251;
}

.app-title{
}

.app-title p{
    text-align: center;
    font-size: 4em;
    color: #293251;
    padding-top: 10vh;
}

.weather-container-icon{
    width: 75vw;
    height: 25vh;
    background-color: #F4F9FF;
    border-radius: 10%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 13vw;
    margin-right: 13vw;
}
.weather-icon img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:auto;
    /* display: block; */
    /* margin: 0 auto; */
    /* text-align: center; */
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
}

.temperature-value span{
    color: #293251;
    font-size: 1em;
}

.temperature-description{

}

.temperature-description p{
    padding: 2%;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 2.4em;
}

.location{

}

.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 2em;
}

.navbar {
 margin-top: 3%;
 font-size: 3em;
}

.navbar-nav .nav-link {
    margin-right: 25px;
    margin-left: 25px;
}

.container {
  margin-top: 10%;
}

.town {
  margin-top: 5%;
  color:white;
  font-size: 5em;
}

.town-select{
  max-width: 40%;
}

.list-group-item.active{
  background-color: #A8A8A8	 !important;
  border-color: #A8A8A8 !important;
}
