*{
    font-family: 'Comfortaa'
    , cursive;
}

body{
    background-color: #293251;
}

.app-title p{
    text-align: right;
    font-size: 2em;
    color: #f8d7da;
}

.weather-container{
    width: 18vw;
    height: 50vh;
    background-color: #F4F9FF;
    display: inline-block;
    margin: auto;
    margin-left: 7%;
    border-radius: 8%;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}

.temperature-description p{
    padding: 2%;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 1em;
}
